body {
    background-color: #e6eff6;
    
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}

.containe {
    width: 66%;
}
hr {
    width:25%;
}

.btn {
    background-color: transparent;
    font-weight: bold;
}

.btn:hover {
    background-color: #46aaf5
    ;
}
